/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
 
    
}



/* Header Styles */
header {
    background-color: #212121;
    color: #fff;
    padding: 0% 0;
    
}

header h1 {
    margin: 10px;
    font-size: 24px;
    
   
}

nav ul {
    list-style: none;
    padding: 0;
   display: flex;
   justify-content: end;
   position: relative;

}

nav ul li {
   /* display: inline;
    margin-right: 10px;
   */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
   
}

/* Section Styles */
.section {
    padding: 50px 0;
    background-color: #b4e0fa;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.section p{
    color: black;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
